<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        li {list-style-type: none;}
    </style>


    {% for i in post%}
    <li><h1>{{ i.title }}</h1></li><p></p>

    <li></h2>{{ i.content|linebreaks|truncatewords:50 }}</h2></li><p></p>
    
    <li></h2>{{ i.create_data }}</h2></li><p></p>
    
    <li></h2>{{ i.author }}</h2></li><p></p>

    {% if i.photo %}
        <img src="{{ i.photos.url }}" alt="{{ i.title }}" height="550" width="auto">
        {% endif %}
    {% endfor %}
        <hr>
</body>
</html>